html{
    font-size: 100%;
    overflow-x: hidden;
}
:root{
    --btn-orange: #F1885A;
    --text-blue: #000D5A;
    --skills-blue: linear-gradient(137.96deg, #3437CF -7.87%, #000C58 99.1%);
    --text-white: #DFDFDF;
    --background:  #E5E5E5;



}
body{
    background-color: var(--background);
    overflow-x: hidden;
}

a, a:visited{
    color: white !important;
    z-index: 10 !important;
}
#footer{
    padding: 0 !important;
}
/* Nav */

.nav-item:hover{
    border-bottom: 5px solid var(--btn-orange);
}
.nav-item{
    line-height: 25px;
}
.dropdown-menu{
    background-color: #3437cf60;
}
.dropdown-item:hover{
   border-bottom: 1px solid #F1885A;

}

/* baner */
#headshot-wrap{
    margin-top: 9rem !important;
}
#slogan-btn-wrap{
    margin-bottom: -18rem;
}
#banner-wrapper{
    margin-top: 7rem;
}
#banner{
min-height: 711px;
max-height: 958px;
min-width: 375px;

background: linear-gradient(120.05deg, #243AC0 9.39%, #000421 68.32%);
}



#headshot{
max-width: 1000px;
min-width: 330px;
min-height: auto;
max-height: 780px;

}
.grayscale{
    filter: grayscale(70%);
}
#headshot-wrap{
    margin-top: 10px;
}





#slogan{
    font-size: 48px;
    color: white;
    font-family: 'Poppins';
    font-weight: 800;
}

#logo, #slogan{
    margin-bottom: 50px;
    margin-bottom: 111px;
    object-position: center;
    
}
#cta{
    height: 66px;
    width: 290px;
    margin-bottom: 52px;
}


#mid-section::before{
    content: url(/images/mid-bg.svg);
    position: absolute;
    position: absolute;
    width: 1251.94px;
    height: 900.5px;
    left: 82.02px;
    top: 1331.45px;
}
/* #wave::before{
    content: url(/images/wave.svg);
    position: absolute;
    left: 224.69px;
    top: 1429.37px;
} */
.skill-box{
    background: linear-gradient(137.96deg, #3437CF -7.87%, #000C58 99.1%);
    max-width: 125px;
    font-size: 20px;
    margin-right: 15px;
    

}
#top{
     position: absolute;
     top: -118px;
    z-index: -1;
    left: -17px;
}

#left-side{
position: absolute;
left: -123px;
z-index: -1;
top: -49px;

}
#top-bg{
    position: absolute;
    top: -116px;
    z-index: -1;
    left: -29px;
}

.skill-box p{
    margin: auto;
}
.box-showddow{
    box-shadow: 0px 4px 32px rgba(179, 179, 179, 0.25);
border-radius: 37px;

}

#skills-wrapper{
    box-shadow: 0px 4px 32px rgba(179, 179, 179, 0.25);
    margin-right: 70px;
    border-radius: 37px;
    max-width: 446px;
    min-width: 300px;
    max-height: 335px;
    min-height: 211px;
}
#skill-box{
    margin: 25px 25px;
    margin-left: 25px;
    height: 64px;
    width: auto;
    background: linear-gradient(137.96deg, #3437CF -7.87%, #000C58 99.1%);
box-shadow: 17.01px 2.52px 38.43px rgba(0, 0, 0, 0.25);
border-radius: 3.15px;
padding: 18px;
}
#skill-bio{
    margin-top: 22rem !important;
}



#socials{
    max-height: 1109px;
    
}

#footer::before{
    background: linear-gradient(120.05deg, #001280 9.39%, #000421 68.32%);
   position: absolute;
   display: block;
   height: 100%;
   width: 100%;
   z-index: -2;
   top: 0;

}
form{
border-radius: 35px;
max-height: 771px;
max-width: 609px;
min-width: 327px;

}
#form-wrapper{
    border-radius: 35px;
}


#banner::before{
    content: url(/images/banner/banner-xxl.svg);
    position: absolute;
    width: 40vw;
    top: 0;
    
}
#cta{
    background-color: var(--btn-orange);
    border: none;
    outline: none !important;
}
.project-card{
    
    min-height: 300px;
    margin-top: 3rem;
    margin-bottom: 2rem;
    box-shadow: 0px 2.88px 23.04px rgba(179, 179, 179, 0.25);
    border-radius: 20px;
    background-color: white;
}
#proj-img{
    height: 175px;
    width: auto;
}

button{
    background-color: var(--btn-orange) !important;
    color: white !important;
    border:none !important;
}
button:active, button:focus{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
#newsweekly{
    background-color: var();
} 
#proj-button{
    height: 30px;
    width: 236px;
}
#prj-wrap{
    flex-direction: row !important;
}
footer{
    z-index: -1;
    
}
#logo-footer{
    left: 0%;
    height: 326px;
}
.form-label{
    margin-top: 40px!important;
}
input{
    background-color: transparent !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 1px solid #9381FF !important;
    border-radius: 0 !important;
}
input, select, textarea{
    color: white !important;
    margin-bottom: 5px !important;
    font-size: .9rem !important;
    font-weight: 200 !important;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;}
input{
line-height: 20px !important;
height: 30px !important;
}
label{
    margin: 1px !important;
    font-family: 'Inter', sans-serif;
}
textarea{
    background-color: transparent !important;
    border-bottom: 1px solid #9381FF !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-radius: 0 !important;
}
input:active, input:focus, textarea:focus, textarea:active, .form{

    outline: none !important; 
    box-shadow: none !important;
}
.navbar-toggler-icon{
    background-image: url(/images/icons8-hamburger-menu.svg) !important;
    z-index: 10 !important;
}
.navbar-toggler{
    z-index: 100 !important;
    margin-left: 15px;
    background-color: transparent !important;
}

#copyright{
    font-size: .7rem;
}
#message-box{

}

.dropdown-item{
       
    color: white;
}
.dropdown-menu{
    background-color: transparent;
    border: none;
}

.navbar{
    width: 100vw;
    
}


/* Extra Small screens */
@media screen and (max-width: 575px) {

    /* Navbar */

    .navbar-collapse{
        background-color: #3437CF;
        padding: 6px;
    }
    /* banner */
    
    
    #headshot{
        width: 90%;
        
        
    }

    #banner::before{
        width: 68vw !important;
        
    }
    #logo{
        justify-content: center;
        align-self: center;
        height: auto !important;
        width: 200px !important;
    }
    #slogan-btn-wrap{
        align-items: center !important;
        margin-top: -3rem !important;
    }
   
    
    #banner{
        align-items: center !important;
    }

    #banner-wrapper{
        margin-bottom: -22rem !important;
        flex-direction: column !important;
    }
    #headshot-wrap{
        position: relative;
    }

   
    #logo{
        margin-bottom: 73px !important;
    }

    #slogan{
        margin-bottom: 30px;
        font-size: 22px;
        flex-direction: column;
        text-align: center;
    }
    #slogan-btn{

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center !important;
        position: relative;
        
    }
 /* ***********************************************/
    

 /* skills and bio */

 #skill-bio{
    flex-direction: column-reverse;
    margin-top: 7.8rem !important;
}

#left-side{
    display: none !important;
}
#top-bg{
    display: none !important;
}
#skills-wrapper{
    margin-top: 20px !important;
    margin-bottom: 50px !important;
    min-width: none !important;
    margin: auto;
}

#bio{
    margin-top: 20px !important;
    margin-bottom: 30px !important;
    text-align: center;
    color: var(--text-blue) !important;
}
#skills-wrapper::before{
    content: url(/images/Rectangle\ 3.svg);
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 80%;



    top: -20px;
    overflow: hidden;
}


 /* ***********************************************/



 /* Projects */


 #prj-wrap{
    flex-direction: column;
}


#proj-img{
    height: 80px;
}
.card-flex{
    height: 250px;
}


 /* ***********************************************/



 /* Footer */
    #socials{
        display: none;
    }
    
    
    footer{
        flex-direction: column;
    
    }
    footer::before{
        background: linear-gradient(120.05deg, #001280 9.39%, #000421 68.32%);
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        z-index: -2;
        left: 0;
    }
    #form{
        width: 370px;
        display: block;
        position: relative;
        align-self: flex-start;
    }
    #form-wrapper{
        
    }
    
    form{
        padding: 20px;
        background: linear-gradient(165.25deg, rgba(188, 42, 191, 0.32) 4.18%, rgba(68, 88, 207, 0) 89.58%);
        border-radius: 35px;
    }
    #form-wrapper::before{
        display: none;
    }
    
    #contact-bl{
        margin-bottom: 5px;
        margin-right: 120px !important;
        height  : 1px;
        width   : 72px;  /* or 100px */
        border-top: 1px solid #F1885A;
        border-width: 10px;
        margin-right: 10px;
      }

    /*******************************************************/

      
}

/* Small Screens: Smartphones */

@media screen and (max-width: 767px) and (min-width: 576px) {
/* nav-bar */
.navbar-collapse{
    background-color: #3437CF;
    padding: 6px;
}
.dropdown-item{
       
    color: white;
}
.dropdown-item:hover{
    border-bottom: none;
}
.dropdown-menu, .dropdown{
    background-color: #3034C4;
    border: none !important;
}

.navbar{
    width: 100vw;
    
}
#navbarNavDropdown{
    background-color: #3034C4;
    height: 100%;
    position: absolute;
    width: 100vw;
    padding-top: 80px;
    height: 300px;
    top: 0;
    left: 0;
    padding-left: 10px;
}
.nav-item:hover{
    border-bottom: none;
}

/***************************************/

/* Banner */
.mobile-v{
    display: none !important;
}
#banner-wrapper{
    flex-direction: column !important; 
    justify-content: center !important;
    margin-top: 30vh;
    margin-bottom: -23rem;
    
}
#banner{
    align-items: center !important;
}
#headshot{
    width: 90%;
}

#banner::before{
    width: 55vw;
    height: auto;
}
#logo{
    justify-content: center;
    align-self: center;
    height: auto !important;
    width: 200px;
}
#slogan-btn-wrap{
    align-items: center !important;
}



#banner{
    align-items: center !important;
}
#headshot-wrap{
    position: relative;
}


#logo{
    margin-bottom: 20px !important;
}

#slogan{
    margin-bottom: 30px;
    font-size: 22px;
    flex-direction: column;
    text-align: center;
}
#slogan-btn{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center !important;
    position: relative;
    
}


/***************************************/


/* Skills and bio */


#skill-bio{
    flex-direction: column-reverse;
    margin-top: 17rem;
}
#bio{
    margin-bottom: 30px;
    color: var(--text-blue);
}
#left-side{
    display: none;
}
#top-bg{
    display: none;
}
#skills-wrapper{
    margin-top: 20px !important;
    margin-bottom: 50px !important;
    min-width: none !important;
    margin: auto;
}

#bio{
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    color: var(--text-blue);
}
#skills-wrapper::before{
    content: url(/images/Rectangle\ 3.svg);
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 80%;



    top: -20px;
    overflow: hidden;
}



/***************************************/


/* Projects */


#prj-wrap{
    flex-direction: column;
}


#proj-img{
    height: 80px;
}
.card-flex{
    height: 250px;
}


/***************************************/

/* Footer */

#socials{
    display: none;
}


footer{
    flex-direction: column;

}
#footer-wrapper::before{
    background-image: linear-gradient(120.05deg, #001280 9.39%, #000421 68.32%) !important;
    position: absolute;
    display: block;
    width: 100vw;
    height: 100%;
    left: 0;
}
#form{
    width: 370px;
    display: block;
    position: relative;
    align-self: flex-start;
}
#form-wrapper{
    
}

form{
    padding: 20px;
    background: linear-gradient(165.25deg, rgba(188, 42, 191, 0.32) 4.18%, rgba(68, 88, 207, 0) 89.58%);
    border-radius: 35px;
}
#form-wrapper::before{
    display: none;
}

#contact-bl{
    margin-bottom: 5px;
    margin-right: 120px !important;
    height  : 1px;
    width   : 72px;  /* or 100px */
    border-top: 1px solid #F1885A;
    border-width: 10px;
    margin-right: 10px;
  }


/***************************************/



}

.navbar{
    z-index: 10;
    padding: 10px;
    
}


.sprite-mobile {
    background-image: url(/images/sprites-mobile.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-mobile-A-linkedin {
    width: 34px;
    height: 35px;
    background-position: -10px -10px;
}

.sprite-mobile-B-twitter {
    width: 34px;
    height: 34px;
    background-position: -64px -10px;
}

.sprite-mobile-C-github {
    width: 34px;
    height: 34px;
    background-position: -118px -10px;
}


/* Medium screens / Tablets */

@media screen and (max-width: 991px) and (min-width: 768px){

/* Banner */

.mobile-v{
    display: none !important;
}
    #banner{
        min-height: 587px !important;
    }

    #banner::before{
        width: 45vw;
    }


    #banner-wrapper{
        flex-direction: row !important;
        align-items: center;
        justify-content: center;
        height: 575px;
        margin-bottom: -21rem !important;
        z-index: 10;
    }

    #slogan{
        font-size: 31px;
        text-align: center;
    }
    
    #logo{
        margin-bottom: -12.8rem;
        z-index: 10;
        justify-content: flex-end;
    }

    #logo img{
        width: 197px;
    }
    #slogan-btn-wrap{
        justify-content: center !important;
    }
    #slogan-btn-wrap, #headshot-wrap{
        margin-bottom: -27rem;

    }

    #headshot{
        min-width: 80%;
        margin-top: 6rem !important;
    }

 /* Skill / Bio */
#skill-bio{
    margin-top: 27rem;
}

#top-bg, #left-side{
    display: block;

}
#top-bg{
    height: 129px;
    top: -77px;
    left: 0px;
}
#left-side{
    left: -71px;
    top: -23px;
}
#bio{
    font-size: 1rem;
}


.desktop{
    display: none !important;
}






/******************************************************/ 




/* projects */



/******************************************************/ 





/* Footer */
footer{
    background-color: transparent !important;
}

#footer{
    flex-direction: row !important;

}

#orange-bos{
    flex-direction: column !important;
}
#sprite-row{
    align-items: end;
}
#sprite{
    flex-direction: column !important;
    align-items: flex-end !important;
}
label, textarea{
    margin-top: 10px !important;
}
.mobile{
    display: none !important;
}
#name-md-up{
    text-align: left;
    margin-top: 12rem;
    font-size: 1.5rem;
}

#copyright{
    margin-top: 9rem;
    font-size: .8rem;
    text-align: center;
}
#form-col{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius:35px 0px 0px 35px;
    height: 90%;
}



form{
    width: 80%;
    padding: 10px;
    z-index: 10;
}
#form-col{
    right: -30px;
}


#form-wrapper::before{
    content: url(/images/Group\ 64244grouped-img.svg);
   position: absolute;
    width: 100%;
    padding-right: 20px;
    top: 13px;
}
    

}
}




/******************************************************/ 
b

/**********************************************/
/*large screens / laptops and small desktops */

@media screen and (max-width: 1200px){
    
}
}