html{
    font-size: 100%;
}
:root{
    --btn-orange: #F1885A;
    --text-blue: #000D5A;
    --skills-blue: linear-gradient(137.96deg, #3437CF -7.87%, #000C58 99.1%);
    --text-white: #DFDFDF;
    --background:  #E5E5E5;


}
body{
    background-color: var(--background);
}
/* main grid container */


#banner::before{
    content: url(/images/background.svg);
}